.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1228px) {
  .two-columns {
    flex-direction: column;
    gap: 32px;
  }
}
