.footer__column-copyright {
  flex-basis: 711px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .footer__column-copyright {
    flex-basis: 100px;
    align-items: center;
    padding-bottom: 50px;
  }
}
