.header__square {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  transform: rotate(-15deg);
}

@media screen and (max-width: 1280px) {
  .header__square {
    display: none;
  }
}
