.digits {
  align-content: space-between;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 100px;
}

@media screen and (max-width: 650px) {
  .digits {
    padding-bottom: 50px;
  }
}
