.feynman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 650px) {
  .feynman {
    height: 500px;
    padding-top: 50px;
  }
}
