.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1350px) {
  .feynman__image {
    width: 85%;
    height: auto;
  }
}
